.bread-crumbs {
  display: flex;
  gap: 0.5rem;
  padding: 0.2rem 1.5rem;
}
.crumb {
  display: flex;
  align-items: center;
  &.crumb a {
    text-decoration: none;
    color: #a4a4a4;
    font-weight: 400;
    font-size: 0.88rem;
  }
}
.crumb-active {
  color: #141414;
  font-weight: 500;
  font-size: 0.88rem;
  background-color: #f8f8f8;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}
