.locate-gadget-container {
  display: flex;
  height: calc(100vh - 130px);
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.address-list {
  width: 30%;
  height: 100%;
  padding: 0 1rem;
  @media screen and (max-width: 1024px) {
    height: 50%;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 0.625rem;
  }

  .addresslist-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    overflow-y: auto; /* Enable vertical scrolling */
    height: calc(100vh - 33rem);
    @media screen and (max-width: 1024px) {
      height: auto;
    }
    @media screen and (max-width: 1024px) {
      svg {
        width: 100%;
      }
    }
  }

  .li-class {
    cursor: pointer;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &.selected {
      background-color: #a4a4a44f;
      border-color: #a4a4a4;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      &:hover {
        background-color: #a4a4a44f;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }

    &:hover {
      background-color: #f8f8f8;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .address-card-name {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .address-card-lat-long {
      font-size: 14px;

      div {
        margin-bottom: 0.5rem;

        span {
          font-weight: 500;
        }
      }
    }
  }
}

.map-container {
  width: 70%;
  height: 100%;
  @media screen and (max-width: 1024px) {
    width: 100%;
    height: 50%;
  }
}
.input-field-locate {
  margin-top: 1rem;
  width: 100%;
  @media only screen and (max-width: 767px) {
    width: 100% !important;
  }
  & div {
    border-radius: 0.5rem;
    // padding-right: 1rem;
  }
}
.input-field-locate-auto {
  margin-top: 1rem;
  width: 100%;
  & div {
    border-radius: 0.5rem;
  }
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  max-height: 20rem;
}

.customer-gadget-details {
  margin: 1rem 0 1rem 0;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .customer-details,
  .gadget-details {
    // margin-bottom: 1rem;

    div {
      margin-bottom: 0.5rem;
    }
    .customer-locate {
      word-wrap: break-word;
    }
  }
}
.mb-locate-gadget-05 {
  margin-bottom: 0.5rem;
}
.locate-align-center {
  text-align: center;
  margin-top: 1rem;
  font-size: 32px;
  font-weight: 600;
}
.customer-li {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  cursor: pointer;
  margin-left: 0.5rem;
  .email {
    font-size: 12px;
    color: #a4a4a4;
  }
}

/* Remove border from list items */
.custom-autocomplete .MuiAutocomplete-option {
  border: none !important;
  box-sizing: unset !important;
}

/* Style for the main text */
.custom-option-text {
  font-size: 16px;
  color: #000;
}

/* Style for the email text */
.custom-option-email {
  font-size: 12px;
  color: #888;
  margin-left: 8px; /* Add some space between name and email */
}

.base-Popper-root {
  color: red !important;
}
.emergency-contact-container {
  // display: flex;
  // gap: 1rem;
  margin: 1.5rem 0 1rem 0;
  align-items: center;
  .width-70 {
    width: 500%;
  }
  .default-btn {
    height: 2.5rem;
    margin-top: 0.5rem;
  }
}
.input-row-container {
  display: flex;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0;
  gap: 1rem;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
    gap: 1rem;
  }
}
.input-width {
  width: 100% !important;
}
.OR-btn {
  text-align: center;
}
.checkbox-width {
  width: 380;
}
