.accordian-heading {
  font-weight: 500;
}
.accordian-text {
  font-size: 14px;
  color: #a4a4a4;
  font-weight: 500;
}
.faq-container {
  width: unset !important;
}
.faq-list {
  max-height: unset !important;
}
