.auth-left-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & a {
    color: #a4a4a4;
    font-size: 0.75rem;
    font-weight: 500;
  }
}
.button-container {
  margin-top: 0.75rem;
}
.forget-password-form-container {
  width: 32.135rem;
  @media screen and (max-width: 767px) {
    width: 100%;
    padding: 0 20px;
  }
}
.forget-password-form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forget-password-header-logo {
  font-size: 5rem;
  font-weight: 700;
}
.forget-password-header-subheader {
  margin-top: 3.125rem;
  font-size: 2rem;
  font-weight: 500;
}
.forget-password-header-text {
  font-size: 1.375rem;
  font-weight: 500;
  color: #a4a4a4;
}
.forget-password-input-field-caontainer {
  margin-top: 1.25rem;
}
.forget-password-input-field-label {
  font-weight: 500;
  font-size: 1rem;
}
.forget-pass-from {
  display: flex;
  flex-direction: column;
}
